<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>积分记录</title>
		<link rel="stylesheet" type="text/css" href="../../static/qyScript/web/layer/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/aui/aui.css" />
		<link rel="stylesheet" type="text/css" href="../css/template/style.css"/>

		<script type="text/javascript" src="../../static/qyScript/web/layer/layui.js"></script>
		<script type="text/javascript" src="../../static/qyScript/web/qyconfig.js"></script>
	</head>
	<body class="bg-fff">
		<!--<header class="aui-bar aui-bar-nav home">-->
		    <!--<a class="aui-pull-left aui-btn back" href="localhost : history.back(-1)">-->
		        <!--<span class="aui-iconfont aui-icon-left"></span>-->
		    <!--</a>-->
		    <!--<div class="aui-title">-->
		    	<!--<span>积分记录</span>-->
		    <!--</div>-->
		    <!--<a class="aui-pull-right aui-btn">-->
		        <!--<span class=""></span>-->
		    <!--</a>-->
		<!--</header>-->
		<!--<div class="height-one"></div>-->
		<div class="aui-content jifenjilu">
			<ul class="aui-list aui-media-list" id="temp-scoreList">

		    </ul>    
		</div>
		<div class="blank_20"></div>
		<div class="blank_20"></div>
	</body>
	<script id="tpl-scorelist" type="text/html">
		{{if userAccountchange.count == 0}}
		<img src="../image/wu.png" style="display: block;margin:0 auto;margin-top:90px;width:45%;">
		{{/if}}
		{{each userAccountchange.list}}
		<li class="aui-list-item">
			<div class="aui-media-list-item-inner">
				<div class="aui-list-item-inner">
					<div class="aui-list-item-text aui-margin-b-5">
						<div class="aui-list-item-title">{{$value.commt}}</div>
					</div>
					<div class="aui-list-item-text aui-ellipsis-1 jilushijian">
						{{$value.createDate}}
					</div>
					{{if $value.changeMoney > 0}}
					<span style="color: red">{{"+"+$value.changeMoney}}</span>
					{{/if}}
					{{if $value.changeMoney < 0}}
					<span style="color: green">{{$value.changeMoney}}</span>
					{{/if}}

				</div>
			</div>
		</li>
		{{/each}}
	</script>

	<script type="text/javascript">
        //框架初始化
        qySoftInit("../../static/qyScript/web/");

        //apicloud 准备完成

        layui.use(['qyWin','qyForm','template','layer'], initpage);


//        function initpage(){
//            layui.qyForm.qyajax("/f/app/userinfo/userAccountChange",{moneyType:2},function(data){
//
//                var html = template("tpl-scorelist",data);
//                $("#temp-scoreList").append(html);
//            });
//        }

        function initpage(){
            var qyWin  = layui.qyWin;
            var qyForm = layui.qyForm;

            qyForm.pageajax(loadData,{
                "pageNo":"0",
                "pageSize":"10",
				"moneyType":"2"
            },"temp-scoreList");
        }

        function loadData(param,callback){
            layui.qyForm.qyajax("/f/app/userinfo/userAccountChange",param,function(data){
                var pageData = data.userAccountchange;
                var html = template("tpl-scorelist",data);
                $("#temp-scoreList").append(html);

                //分页回调结束处理方法, 传入的参数必须正确
                if(callback){
                    callback(pageData);
                }
            })


        }



	</script>
</html>
